*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial Rounded MT Bold';
    font-weight: bolder;
}
p{
    color: rgb(85,85,85);
}
nav, .nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 184px;
}
.nav-links{
    gap: 32px;
    list-style: none;
    font-size: 24px ;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-color: #e8151c ;
}
.logo{
    font-size: 38px;
    color: #e8151c;
}
.logo:hover{
    cursor: default;
}

section{
    padding-top:4vh ;
    height: 535px;
    margin: 0 160px;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}
.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.section__pic-container img{
    border-radius: 200px;
}
.section__text{
    align-self: center;
    text-align: center;
}
.section__text p{
    font-weight: 600;
}
.section__text__p1{
    text-align: center;
}
.section__text__p2{
    font-size: 28px;
    margin-bottom: 16px;
}
.title{
    font-size: 48px;
    text-align: center;
}
#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
}

#about{
    position: relative;
}
.about-containers{
    gap: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-containers, .about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 32px;
}
.details-container{
    padding: 24px;
    flex: 1;
    background: white;
    border-radius: 32px;
    border: rgb(53,53,53) 1.6px solid;
    border-color: rgb(163,163,163);
    text-align: center;
}
.section-container{
    gap: 64px;
    height: 65%;
}
.section__pic-container{
    height: 400px;
    width: 400px;
    margin: 0;
    margin-top: -40px;
}
.section__text__p1{
    text-align: center;
    margin-top: auto;
}
footer p{
    text-align: center;
    background: #e8151c;
    color: white;
}
footer{
    margin-top: -40px;
}
a.active{
    color: #e8151c;
}